---
layout: default
---

<div class="home">

  <p>
    MiniSpec is a test/spec execution engine. It works out-of-the box with
    TypeScript, ECMAScript (esm) and CommonJS (cjs) modules. It uses the
    BDD/Spec syntax: <code class="language-plaintext highlighter-rouge">describe</code>,
    <code class="language-plaintext highlighter-rouge">context</code> and
    <code class="language-plaintext highlighter-rouge">it</code>.
  </p>


<figure class="highlight"><pre><code class="language-shell" data-lang="shell">npm <span class="nb">install</span> <span class="nt">--save-dev</span> minispec</code></pre></figure>

<figure class="highlight"><pre><code class="language-console" data-lang="console"><span class="go">added 1 package, and audited 2 packages in 2s</span></code></pre></figure>


<figure class="highlight"><pre><code class="language-typescript" data-lang="typescript"><span class="c1">// minispec_entrypoint.mjs</span>

<span class="k">import</span> <span class="nx">assert</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">assert</span><span class="dl">'</span>
<span class="k">import</span> <span class="nx">MiniSpec</span><span class="p">,</span> <span class="p">{</span> <span class="nx">describe</span><span class="p">,</span> <span class="nx">it</span> <span class="p">}</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">minispec</span><span class="dl">'</span>

<span class="kd">function</span> <span class="nf">sayHello</span><span class="p">():</span> <span class="kr">string</span> <span class="p">{</span>
  <span class="k">return</span> <span class="dl">'</span><span class="s1">Hello, world!</span><span class="dl">'</span>
<span class="p">}</span>

<span class="nf">describe</span><span class="p">(</span><span class="dl">'</span><span class="s1">MiniSpec</span><span class="dl">'</span><span class="p">,</span> <span class="k">async </span><span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
  <span class="nf">it</span><span class="p">(</span><span class="dl">'</span><span class="s1">says "Hello, world!"</span><span class="dl">'</span><span class="p">,</span> <span class="k">async </span><span class="p">()</span> <span class="o">=&gt;</span> <span class="p">{</span>
    <span class="nx">assert</span><span class="p">.</span><span class="nf">equal</span><span class="p">(</span><span class="dl">'</span><span class="s1">Hello, world!</span><span class="dl">'</span><span class="p">,</span> <span class="nf">sayHello</span><span class="p">())</span>
  <span class="p">})</span>
<span class="p">})</span>

<span class="nx">MiniSpec</span><span class="p">.</span><span class="nf">execute</span><span class="p">()</span></code></pre></figure>

<figure class="highlight"><pre><code class="language-shell" data-lang="shell">node minispec_entrypoint.mjs</code></pre></figure>

<figure class="highlight"><pre><code class="language-console" data-lang="console"><span class="go">MiniSpec
  says "Hello, world!"

Finished in 9 milliseconds (discovering took 7 milliseconds, execution took 2 milliseconds)
1 test, no failure 👏</span></code></pre></figure>

  <h2 class="page-heading">Why another test/spec execution engine?</h2>

  <p>
    The idea of MiniSpec cames from the need to write some unit-tests for a
    tiny library written in TypeScript. All testing framework were pretty big - with
    a lot of dependencies - and may not work well out-of-the-box with TypeScript.
  </p>

  <p>
    MiniSpec goal is to remain lightweight, without runtime dependency. Its main
    purpose is to add a bunch of tests to small JavaScript or TypeScript projects.
  </p>

  <p>
    Its name comes from the combination of <a href="https://github.com/seattlerb/minitest">minitest</a>,
    and <a href="https://rspec.info/">RSpec</a>. Minitest for the idea of having a small and easy
    to maintain test/spec engine. RSpec for the spec syntax and for some output formats.
  </p>

  <h2 class="page-heading">Why does weight matter?</h2>

  <p>
    Less dependencies and a lightweight library means less resources consumed while
    downloading it and executing it. It also reduces the potential attack surface.
  </p>

  <p>
    That means also fewer features. That is why MiniSpec purpose is to be used with
    small projects, which do not need advanced testing capabilities that may offer more
    popular alternatives.
  </p>

  <h2 class="page-heading">Last news</h2>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->

</div>