<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="sQ9l5WhGTxH1el_rKYaKsou6i3Gt_7w0TITfDsYpJF4" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="icon" href="/assets/images/Minispec-logo-part-32x32.ico" sizes="any">
  <link rel="icon" href="/assets/images/Minispec-logo-part-32x32.png" type="image/png">
  <link rel="apple-touch-icon" href="/assets/images/Minispec-logo-full-180x180.png">
  <link rel="manifest" href="/assets/manifest.webmanifest">
</head>
