<a href="https://gitlab.com/{{ include.username }}"><span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span><span class="username">{% if include.linkname %}{{ include.linkname }}{% else %}{{ include.username }}{% endif %}</span></a>
