<a href="https://www.npmjs.com/package/{{ include.packagename }}"><span class="icon icon--npmjs"><img
            src="/assets/images/icon-npmjs.png" /></span><span class="username">{% if include.linkname %}{{ include.linkname }}{% else %}{{ include.packagename }}{% endif %}</span></a>